.ability{
    padding-top: 120px;
    background: hsl(198, 63%, 97%);
    position: relative;
    &__wrapper{
        display: grid;
        grid-template: repeat(2,minmax(270px, auto)) / repeat(4, 270px);
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
        margin-top: 60px;
        justify-content: center;
        padding: 0 11px;
    }
    &__items{
        padding: 30px 30px 25px 30px;
        border: 2px solid #000;
        &_jquery{
            padding-top: 45px;
        }
        &_mongo{
            padding-top: 38px;
        }
        &-name{
            margin-top: 20px;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            &_jquery{
                margin-top: 33px;
            }
            &_mongo {
                margin-top: 32px;
            }
        }
        &-descr{
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__ratings{
        padding-top: 120px;
        display: grid;
        grid-template: repeat(2, minmax(70px,auto)) / repeat(3, 350px);
        justify-content: space-between;
        align-items: center;
        gap: 30px 45px;
        &-item{
            display: grid;
            grid-template: minmax(21px, auto) 14px / 180px 35px;
            align-items: center;
            justify-content: space-between;
            gap: 27px;
        }
        &-title{
            padding: 0 0 0 14px;
            position: relative;
            z-index: 1;
            @include before_circle;
            &:before{
                left: 1px;
                top: -36%;
            }
        }
        &-counter{
            font-size: 14px;
            line-height: 21px;
        }
        &-line{
            width: 350px;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
            grid-column: 1/3;
            span{
                display: block;
                width: 350px;
                height: 14px;
                background: $main-color;
                border-radius: 4px;
            }
            }
        }
    }
