.skills {
    &__aboutme{
        width: 100%;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,1fr) ;
        gap: 20px 50px;
    }
    &__item{
        position: relative;
        padding-left: 60px;
        
    }
    &__icon{
        position: absolute;
        left: 22px;
        top: 14px;
        z-index: 2;
    }
    &__descr{
        margin-top: 8px;
        position: relative;
    }
    &__title{
        position: relative;
        @include before_circle_icon;
        z-index: 1;
    }


    
}